<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.NamespaceMapper">

    <sql id="select">

    </sql>

    <select id="getNamespaceOuterKey" resultType="org.cbioportal.model.Namespace">
        SELECT DISTINCT JSON_KEYS(ANNOTATION_JSON) AS outerKey FROM mutation;
    </select>

    <select id="getNamespaceInnerKey" resultType="org.cbioportal.model.Namespace">
        SELECT DISTINCT JSON_KEYS(JSON_EXTRACT(ANNOTATION_JSON, '$.mut')) AS innerKey
        FROM mutation
        WHERE JSON_EXTRACT(ANNOTATION_JSON, '$.mut') IS NOT NULL;
    </select>

    <select id="getNamespaceCountByKey" resultType="org.cbioportal.model.NamespaceCountByKey">
        SELECT JSON_UNQUOTE(JSON_EXTRACT(ANNOTATION_JSON, '$.mut.Actionable')) AS Actionable, COUNT(*) AS count
        FROM mutation
        GROUP BY JSON_UNQUOTE(JSON_EXTRACT(ANNOTATION_JSON, '$.mut.Actionable'));  

        SELECT
        #{entrezGeneId} AS "entrezGeneId",
        #{proteinPosStart} AS "proteinPosStart",
        #{proteinPosEnd} AS "proteinPosEnd",
        COUNT(*) AS "count"
        FROM mutation
        INNER JOIN mutation_event ON mutation.MUTATION_EVENT_ID = mutation_event.MUTATION_EVENT_ID
        WHERE mutation_event.ENTREZ_GENE_ID = #{entrezGeneId}
        AND mutation_event.PROTEIN_POS_START >= #{proteinPosStart}
        AND mutation_event.PROTEIN_POS_END <![CDATA[ <= ]]> #{proteinPosEnd}
    </select>


</mapper>
