<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.NamespaceMapper">

    <select id="getNamespaceOuterKey" resultType="org.cbioportal.model.Namespace">
        SELECT DISTINCT JSON_KEYS(ANNOTATION_JSON) AS outerKey 
        FROM mutation;
    </select>

    <select id="getNamespaceInnerKey" resultType="org.cbioportal.model.Namespace">
        SELECT DISTINCT JSON_KEYS(JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{outerKey}))) AS innerKey
        FROM mutation
        WHERE JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{outerKey})) IS NOT NULL;
    </select>

    <select id="getNamespaceDataCounts" resultType="org.cbioportal.model.NamespaceDataCount">
        SELECT 
            JSON_UNQUOTE(JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{outerKey}, '.', #{innerKey}))) AS value,
            JSON_UNQUOTE(JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{outerKey}, '.', #{innerKey}))) AS #{innerKey},
            COUNT(*) AS count
        FROM mutation
        GROUP BY value;
    </select>

</mapper>