<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.cbioportal.persistence.mybatis.NamespaceMapper">

    <sql id="joinSample">
        INNER JOIN sample ON mutation.SAMPLE_ID = sample.INTERNAL_ID
        INNER JOIN patient ON sample.PATIENT_ID = patient.INTERNAL_ID
        INNER JOIN cancer_study ON patient.CANCER_STUDY_ID = cancer_study.CANCER_STUDY_ID
    </sql>

    <sql id="whereSample">
        <where>
            <if test="sampleIds == null">
                cancer_study.CANCER_STUDY_IDENTIFIER = #{studyIds[0]}
            </if>
            <if test="sampleIds != null">
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() == 1">
                    cancer_study.CANCER_STUDY_IDENTIFIER = #{studyIds[0]} AND
                    sample.STABLE_ID IN
                    <foreach item="item" collection="sampleIds" open="(" separator="," close=")">
                        #{item}
                    </foreach>
                </if>
                <if test="@java.util.Arrays@stream(studyIds.toArray()).distinct().count() > 1">
                    (cancer_study.CANCER_STUDY_IDENTIFIER, sample.STABLE_ID) IN
                    <foreach index="i" collection="sampleIds" open="(" separator="," close=")">
                        (#{studyIds[${i}]}, #{sampleIds[${i}]})
                    </foreach>
                </if>
            </if>
        </where>
    </sql>

    <select id="getNamespaceOuterKey" resultType="org.cbioportal.model.Namespace">
        SELECT DISTINCT JSON_KEYS(ANNOTATION_JSON) AS outerKey 
        FROM mutation
        <include refid="joinSample"/>
        <if test="studyIds != null">
            WHERE cancer_study.CANCER_STUDY_IDENTIFIER IN
            <if test="studyIds.isEmpty()">
                (NULL)
            </if>
            <if test="!studyIds.isEmpty()">
                <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </if>
    </select>

    <select id="getNamespaceInnerKey" resultType="org.cbioportal.model.Namespace">
        SELECT DISTINCT JSON_KEYS(JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{outerKey}))) AS innerKey
        FROM mutation
        <include refid="joinSample"/>
        <if test="studyIds != null">
            WHERE cancer_study.CANCER_STUDY_IDENTIFIER IN
            <if test="studyIds.isEmpty()">
                (NULL)
            </if>
            <if test="!studyIds.isEmpty()">
                <foreach item="item" collection="studyIds" open="(" separator="," close=")">
                    #{item}
                </foreach>
            </if>
            AND JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{outerKey})) IS NOT NULL;
        </if>
    </select>

    <select id="getNamespaceAttributeCountsBySampleIds" resultType="org.cbioportal.model.NamespaceAttributeCount">
        SELECT count(*) as "count",
        #{outerKey} as "outerKey",
        #{innerKey} as "innerKey"
        FROM mutation
        <include refid="joinSample"/>
        <include refid="whereSample"/>
        and JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{outerKey}, '.', #{innerKey})) IS NOT NULL 
        and JSON_UNQUOTE(JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{outerKey}, '.', #{innerKey}))) != 'null';
    </select>

    <select id="getNamespaceDataCounts" resultType="org.cbioportal.model.NamespaceDataCount">
        SELECT 
            JSON_UNQUOTE(JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{outerKey}, '.', #{innerKey}))) AS value,
            JSON_UNQUOTE(JSON_EXTRACT(ANNOTATION_JSON, CONCAT('$.', #{outerKey}, '.', #{innerKey}))) AS #{innerKey},
            COUNT(*) AS count
        FROM mutation
        GROUP BY value;
    </select>

</mapper>